// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

.navbar-brand {
    margin-right: 5rem;
}
.nav-link {
    font-size: 1.5rem;
}
.static-hero-widget img {
    margin: .5rem 0;
}
.static-hero-widget p {
    font-size: 1.2rem;
}
.static-hero-widget .widget-title {
    border-bottom: .2rem solid $primary;
    text-align: center;
    line-height: 2.5rem;
}
@media (min-width: 768px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}